<h1><center> Pending Transactions </center></h1>




<div class="row">
<a class="waves-effect waves-light btn" href="/listings">Go to Listings</a>&nbsp;
<% if @share.empty? %>
<p> You have no orders pending.</p>
<% else %>
<%= link_to'Cancel Pending Order',  share_clear_path, :class => "waves-effect red waves-light btn" %>
<% end %>
</div>
<br>
<br>
<ul>

  <% total = 0 %>
  <% fee = 0 %>
  <div class="row">
      <% @share.each do | id, quantity | %>
        <% listing = Listing.find_by_id(id) %>
            <div class="card col s4 m3">
                <div class="card-image">
                    <%= image_tag listing.image.url(:medium) %></br>
                </div>

          <span class="card-title"> <%= link_to listing.property, listing %></span>

              <div class="card-content">
                  Property Price: <%= number_to_currency(listing.price, :unit => '$') %></br>
                  Share Price: <%= number_to_currency(listing.sharePrice, :unit => '$') %></br>
                  Quantity:
                  <%=  quantity %>


                   <%= quantity %></br>
              </div>
          </div>


  </div>

    <% total += quantity * listing.sharePrice + (listing.sharePrice * 0.05) %>
    <% fee += quantity * listing.sharePrice * 0.05%>
    <% end %>
  </ul>
  <%= form_tag charges_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">

      <span>  <p><b>
      <h6><strong>  Fee(5%): <%= number_to_currency(fee, :unit => '$')%></br>
        Total: <%= number_to_currency(total, :unit => '$')%>
      </h6></strong></b> </p></span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Total number of Shares Bought"
            data-amount=total
            data-locale="auto"></script>


  <% end %>
</br>
</br>
</br></br>
