<h1> New Listing </h1>
<div class="newlisting">
<div class="row">
        <div class="col s12 m6">
          <div class="card ">
            <div class="card-content black-text">

<%= form_for @listing, html: { multipart: true } do |l| %>
  <p>
    <%= l.label :property %><br>
    <%= l.text_field :property %>
  </p>

  <p>
    <%= l.label :address %><br>
    <%= l.text_field :address %>
  </p>

  <p>
    <%= l.label :price %><br>
    <%= l.number_field :price %>
  </p>
  <p>

    <%= l.label :Bedroom %><br>
    <%= l.number_field :aptDetsBed %>

    <%= l.label :Bathroom %><br>
    <%= l.number_field :aptDetsBath %>

    <%= l.label :Sqft %><br>
    <%= l.number_field :aptDetsSqft %>
  </p>
  <p>

    <%= l.label :image %><br>
    <%= l.file_field :image %>



  </p>

  <p>
    <%= l.label :description %><br>
    <%= l.text_area :description %>
  </p>

  <p>
    <%= l.label :factsFeature %><br>
    <%= l.text_area :factsFeature %>
  </p>

  <p>
    <%= l.label :shares_available %><br>
    <%= l.number_field :shares_available %>
  </p>

  <p>
    <%= l.label :sharePrice %><br>
    <%= l.number_field :sharePrice %>
  </p>

  <p>
  <%= l.submit %>
  </p>
<% end %>
</div
</div>
</div>
        </div>
      </div>
