<h1> New Listing </h1>

<%= form_for @listing, html: { multipart: true } do |l| %>
  <p>
    <%= l.label :property %><br>
    <%= l.text_field :property %>
  </p>

  <p>
    <%= l.label :price %><br>
    <%= l.number_field :price %>
  </p>

  <p>
    <%= l.label :image %><br>
    <%= l.file_field :image %>
  </p>

  <p>
    <%= l.label :description %><br>
    <%= l.text_area :description %>
  </p>

  <p>
    <%= l.label :shares_available %><br>
    <%= l.number_field :shares_available %>
  </p>

  <p>
    <%= l.label :sharePrice %><br>
    <%= l.number_field :sharePrice %>
  </p>

  <p>
    <%= l.submit %>
  </p>
<% end %>
