
<p>

  <%= image_tag @listing.image.url(:medium) %>

</p>
<p>
  <h2><strong>
  <%= @listing.property %></strong></h2>
</p>
<p>

  <h4><%= @listing.address %></h6>
</p>

<p>

  <h5>$<%= number_with_delimiter(@listing.price, :delimiter => ',') %></h4>

</p>


<p>

  <%= @listing.aptDetsBed %> Beds |
  <%= @listing.aptDetsBath %> Baths |
  <%= @listing.aptDetsSqft %> Sqft

</p>

<p>
  <h6><% if @listing.description.blank? == false %>
    <strong> <%= "description :" %></strong>
    <% end %>
  <%= @listing.description %>
</p>

<p>
  <% if @listing.shares_available.blank? == false %>
    <strong> <%= "Shares Available :" %></strong>
    <% end %>
  <%= @listing.shares_available %>
</p>
<p>
  <% if @listing.sharePrice.blank? == false %>
    <strong> <%= "Share Price :" %></strong>
 <%= @listing.sharePrice %>
  <% end %>
</p>
</h6>
<div style="box-sizing: content-box;width:168px;height:auto;background-color:#dbdbdb;font:normal normal normal 13px verdana,arial,sans-serif;overflow:hidden;padding:0 6px;margin:1em auto;border-radius: 5px;webkit-border-radius:5px;"><div id="title" style="text-align:center;padding: 8px 2px;background-color:#dbdbdb;"><a href="http://www.zillow.com/miami-fl/home-values/#{scrnnm=VonAsken}" target="_blank" rel="nofollow" style="display:block;font-weight:bold;font-size:12px;color:#666666;text-decoration:none;line-height:1.2em;text-shadow: 0 1px #fff;">Home Value Estimate</a></div><div style="position:relative;text-align:center;font-family:verdana,arial,sans-serif;font-size:10px;background-color:#f4f4f4;border-radius: 5px; border: 1px solid;border-color:#cccccc;webkit-border-radius: 5px;padding: 1px;"><iframe scrolling="no" src="http://www.zillow.com/widgets/zestimate/ZestimateSmallWidget.htm?did=zillow-shv-small-iframe-widget&type=iframe&address=701+S+Miami+Ave%2C+Miami%2C+FL+33131&searchbox=yes&region=Miami&skinnyWidget=true&tc=666666&bgc=f4f4f4" width="164" frameborder="0" height="325"></iframe></div><div id="footer-links-container" style="height:auto;padding-bottom:5px;margin:2px 3px 0;text-align:center;"><div style="height:auto;display:block;overflow:hidden;"><a href="http://www.zillow.com/miami-fl/#{scrnnm=VonAsken}" target="_blank" rel="nofollow" style="font-weight:normal;font-style:normal;font-size:10px;padding:0;width:144px;color:#666666;text-decoration:none;line-height:1.2em;" scen="s1"><span class="region">Miami</span></a></div></div></div>
