<!-- Pre Loader -->
<div id="loader-wrapper">
  <div id="loader"></div>

  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>

</div>



<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
      <h1 class="text_h center header cd-headline letters type">
          <span>Invest</span>
          <span class="cd-words-wrapper waiting">
              <b class="is-visible">At Low Cost</b>
              <b>Quickly</b>
              <b>Easily</b>
              <b>In Real Estate</b>
          </span>
      </h1>
  </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
  <div class="container">
      <div class="row">
          <div  class="col s12">
              <h2 class="center header text_h2"> “We know that making the decision to invest in real estate is an important one, and it’s our goal to make this process as easy and as transparent as possible.” </br><span class="span_h2"> -Marc Von Askën<h6 class="center">Founder & CEO of Prinvest. </h6></h2> </span>
          </div>

          <div  class="col s12 m4 l4">
              <div class="center promo promo-example">

                  <%= image_tag("moneyicon.png", :class => "icono1") %>

                  <h5 class="promo-caption">Low Minimum Investment</h5>
                  <p class="light center">Invest with As low as <b><h5><u>$250</u></h5></b></p>
              </div>
          </div>
          <div class="col s12 m4 l4">
              <div class="center promo promo-example">

                  <%= image_tag("statsicon.png", :class => "icono2") %>

                  <h5 class="promo-caption">Transparency</h5>
                  <p class="light center">Our Data Dashboards gives you everything you need to make a clear decision on your investments.</p>
              </div>
          </div>
          <div class="col s12 m4 l4">
              <div class="center promo promo-example">

                <%= image_tag("pie-icon.png", :class => "icono3") %>

                  <h5 class="promo-caption">Portfolio Diversifation</h5>
                  <p class="light center">Invest in different markets and properties around the country in just a couple clicks.</p>
              </div>
          </div>
      </div>
  </div>
</div>

<!--Work-->
<div class="section scrollspy" id="work">
  <div class="container">
      <h2 class="header text_b"><a href="/listings">Listings</a></h2>
      <div class="row">
          <div class="col s12 m4 l4">
              <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="/assets/elyseemiami.jpg">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4 highlight">Elysee Miami <i class="mdi-navigation-more-vert right"></i></span>
                      <p><a href="#">+Details</a></p>
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Elysee Miami <i class="mdi-navigation-close right"></i></span>
                      <p>Here is some more information about this project that is only revealed once clicked on.</p>
                  </div>
              </div>
          </div>
          <div class="col s12 m4 l4">
              <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="/assets/slsbrickell.jpg">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">SLS Brickell <i class="mdi-navigation-more-vert right"></i></span>
                      <p><a href="#">+Details</a></p>
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">SLS Brickell <i class="mdi-navigation-close right"></i></span>
                      <p>Here is some more information about this project that is only revealed once clicked on.</p>
                  </div>
              </div>
          </div>
          <div class="col s12 m4 l4">
              <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="/assets/1000museum.jpg">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">1000 Museum <i class="mdi-navigation-more-vert right"></i></span>
                      <p><a href="#">+Details</a></p>
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">1000 Museum <i class="mdi-navigation-close right"></i></span>
                      <p>Here is some more information about this project that is only revealed once clicked on.</p>
                  </div>
              </div>
          </div>
          <div class="col s12 m4 l4">
              <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="/assets/granparaiso.jpg">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Gran Paraiso <i class="mdi-navigation-more-vert right"></i></span>
                      <p><a href="#">+Details</a></p>
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Gran Paraiso<i class="mdi-navigation-close right"></i></span>
                      <p>Here is some more information about this project that is only revealed once clicked on.</p>
                  </div>
              </div>
          </div>
          <div class="col s12 m4 l4">
              <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="/assets/slslux.jpg">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">SLS Lux <i class="mdi-navigation-more-vert right"></i></span>
                      <p><a href="#">+Details</a></p>
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">SLS Lux<i class="mdi-navigation-close right"></i></span>
                      <p>Here is some more information about this project that is only revealed once clicked on.</p>
                  </div>
              </div>
          </div>
          <div class="col s12 m4 l4">
              <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="/assets/brickellcitycentre.jpg">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Brickell City Centre<i class="mdi-navigation-more-vert right"></i></span>
                      <p><a href="#">+Details</a></p>
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Brickell City Centre <i class="mdi-navigation-close right"></i></span>
                      <p>Here is some more information about this project that is only revealed once clicked on.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!--Parallax-->
<div class="parallax-container">
  <div class="parallax"><img src="/assets/parallax.jpg"></div>
</div>

<!--Team-->
<div class="section scrollspy" id="team">
  <div class="container">
      <h2 class="header text_b"> Our Team </h2>
      <div class="row">
          <div class="col s12 m3">
              <div class="card card-avatar">
                  <div class="waves-effect waves-block waves-light">
                      <img class="activator" src="/assets/profilepic.jpg">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Marc Von Askën <br/>
                          <small><em><a class="red-text text-darken-1" href="#">CEO</a></em></small></span>
                      <p>
                          <a class="blue-text text-lighten-2" href="https://www.facebook.com/marc.c7">
                              <i class="fa fa-facebook-square"></i>
                          </a>
                          <a class="blue-text text-lighten-2" href="https://twitter.com/prinzvonasken">
                              <i class="fa fa-twitter-square"></i>
                          </a>

                          <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/marccoulange">
                              <i class="fa fa-linkedin-square"></i>
                          </a>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col s12 m3">
              <div class="card card-avatar">
                  <div class="waves-effect waves-block waves-light">
                      <img class="activator" src="assets/profilepic2.jpg">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Marc Von Askën<br/>
                          <small><em><a class="red-text text-darken-1" href="#">Designer</a></em></small>
                      </span>
                      <p>
                          <a class="blue-text text-lighten-2" href="https://www.facebook.com/marc.c7">
                              <i class="fa fa-facebook-square"></i>
                          </a>
                          <a class="blue-text text-lighten-2" href="https://twitter.com/prinzvonasken">
                              <i class="fa fa-twitter-square"></i>
                          </a>

                          <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/marccoulange">
                              <i class="fa fa-linkedin-square"></i>
                          </a>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col s12 m3">
              <div class="card card-avatar">
                  <div class="waves-effect waves-block waves-light">
                      <img class="activator" src="/assets/profilepic.jpg">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">
                          Marc Von Askën <br/>
                          <small><em><a class="red-text text-darken-1" href="#">CMO</a></em></small></span>
                      <p>
                          <a class="blue-text text-lighten-2" href="https://www.facebook.com/marc.c7">
                              <i class="fa fa-facebook-square"></i>
                          </a>
                          <a class="blue-text text-lighten-2" href="https://twitter.com/prinzvonasken">
                              <i class="fa fa-twitter-square"></i>
                          </a>

                          <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/marccoulange">
                              <i class="fa fa-linkedin-square"></i>
                          </a>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col s12 m3">
              <div class="card card-avatar">
                  <div class="waves-effect waves-block waves-light">
                      <img class="activator" src="/assets/profilepic2.jpg">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Marc Von Askën<br/>
                          <small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
                      <p>
                          <a class="blue-text text-lighten-2" href="https://www.facebook.com/marc.c7">
                              <i class="fa fa-facebook-square"></i>
                          </a>
                          <a class="blue-text text-lighten-2" href="https://twitter.com/prinzvonasken">
                              <i class="fa fa-twitter-square"></i>
                          </a>

                          <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/marccoulange">
                              <i class="fa fa-linkedin-square"></i>
                          </a>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
  <div class="container">
      <div class="row">
          <div class="col l6 s12">
              <form class="col s12" action="contact.php" method="post">
                  <div class="row">
                      <div class="input-field col s6">
                          <i class="mdi-action-account-circle prefix white-text"></i>
                          <input id="icon_prefix" name="name" type="text" class="validate white-text">
                          <label for="icon_prefix" class="white-text">First Name</label>
                      </div>
                      <div class="input-field col s6">
                          <i class="mdi-communication-email prefix white-text"></i>
                          <input id="icon_email" name="email" type="email" class="validate white-text">
                          <label for="icon_email" class="white-text">Email-id</label>
                      </div>
                      <div class="input-field col s12">
                          <i class="mdi-editor-mode-edit prefix white-text"></i>
                          <textarea id="icon_prefix2" name="message" class="materialize-textarea white-text"></textarea>
                          <label for="icon_prefix2" class="white-text">Message</label>
                      </div>
                      <div class="col offset-s7 s5">
                          <button class="btn waves-effect waves-light red darken-1" type="submit">Submit
                              <i class="mdi-content-send right white-text"></i>
                          </button>
                      </div>
                  </div>
              </form>
          </div>
          <div class="col l3 s12">
              <h5 class="white-text">Prinvest.co</h5>
              <ul>
                  <li><a class="white-text" href="http://www.prinvest.co/">Home</a></li>
                  <li><a class="white-text" href="http://www.prinvest.co/blog">Blog</a></li>
              </ul>
          </div>
          <div class="col l3 s12">
              <h5 class="white-text">Social</h5>
              <ul>

                  <li>
                      <a class="white-text" href="https://www.facebook.com/marc.c7">
                          <i class="small fa fa-facebook-square white-text"></i> Facebook
                      </a>
                  </li>
                  <li>
                      <a class="white-text" href="https://github.com/vonasken">
                          <i class="small fa fa-github-square white-text"></i> Github
                      </a>
                  </li>
                  <li>
                      <a class="white-text" href="https://www.linkedin.com/in/marccoulange">
                          <i class="small fa fa-linkedin-square white-text"></i> Linkedin
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <div class="footer-copyright default_color">
    <!-- <div class="container">
        Made by <a class="white-text" href="http://joashpereira.com">Joash Pereira</a>. Thanks to <a class="white-text" href="http://materializecss.com/">materializecss</a>
    </div> -->
  </div>
</footer>



<!-- ==================================================== -->

<!-- <% if user_signed_in? == false %>
      <h1>Welcome !</h1>
      <p>Register to get started.</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: "waves-effect waves-light btn" %>
      </p>
      <%end%>
     <div class="parallax-container">
       <div class="parallax"><%= image_tag 'penthouse-view.jpg' %></div>
     </div>

       <div class="container">
         <h2 class="header">Listings</h2>

         <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
         <%= render "listings/listingslist" %>
       </div>

       <div class="parallax-container">
         <div class="parallax"><%= image_tag 'vhomepagev.jpg' %></div>

</div> -->
