<!DOCTYPE html>
<html>
  <head>
    <title>Prinvest</title>
    <%= csrf_meta_tags %>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->

   <!-- Compiled and minified JavaScript -->

   <!--Let browser know website is optimized for mobile-->
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

       <!--Import jQuery before materialize.js-->


     </head>

  </head>

  <body>


    <!-- ========================================== -->
    <div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div>

<!-- <%= yield :top_content %> -->

<!-- <div class="container"> -->


    <!-- ========================================= -->
    <!-- ===============ROOTS & LINKS (SIGN UP, LOGOUT, etc....)========================== -->
    <!-- <nav > -->


        <!-- <%= link_to 'Home', root_path %>


        <% if user_signed_in? %>


            Signed in as <%= current_user.name %>.

            </a>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
              <%= link_to 'Profile', user_path(current_user) %>

          <% else %>
          <%= link_to 'Sign Up', new_user_registration_path %> or
          <%= link_to 'Sign In', new_user_session_path %>
          <%= link_to "Sign in with Linkedin", user_linkedin_omniauth_authorize_path %>
        <% end %> -->

    <!-- </div> -->

<!-- </nav> -->
<!-- ===============above: ROOTS & LINKS (SIGN UP, LOGOUT, etc....)========================== -->


    <%= yield %>


  </body>
</html>
