<!DOCTYPE html>
<html>
  <head>
    <title>Prinvest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

   <!--Let browser know website is optimized for mobile-->
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

       <!--Import jQuery before materialize.js-->
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script type="text/javascript" src="js/materialize.min.js"></script>

     </head>

  </head>

  <body>


    <!-- ========================================== -->
    <div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div>

<!-- <%= yield :top_content %> -->

<div class="container">


    <!-- ========================================= -->
    <!-- ===============ROOTS & LINKS (SIGN UP, LOGOUT, etc....)========================== -->
    <nav class="right">

      <ul >
        <li><%= link_to 'Home', root_path %></li>
      </ul>
      <ul >
        <% if user_signed_in? %>
          <li >

              <%= current_user.name %>

            </a>
            <ul >
              <li><%= link_to 'Profile', edit_user_registration_path %></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>

</nav>
<!-- ===============above: ROOTS & LINKS (SIGN UP, LOGOUT, etc....)========================== -->


    <%= yield %>


  </body>
</html>
