<!DOCTYPE html>
<html>
  <head>
    <title>Prinvest Real Estate Investments</title>
    <!--meta http-equiv="Content-Type" content="text/html; charset=UTF-8"-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  </head>


  <body id="top" class="scrollspy">


    <!-- ========================================== -->
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
    </div>

<!-- <%= yield :top_content %> -->

<!-- <div class="container"> -->

<%= render "layouts/navigationbar" %>
<!-- ============================================================================================== -->

    <!-- ========================================= -->
    <!-- ===============ROOTS & LINKS (SIGN UP, LOGOUT, etc....)========================== -->
    <!-- <nav > -->


        <!-- <%= link_to 'Home', root_path %>


        <% if user_signed_in? %>


            Signed in as <%= current_user.name %>.

            </a>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
              <%= link_to 'Profile', user_path(current_user) %>

          <% else %>
          <%= link_to 'Sign Up', new_user_registration_path %> or
          <%= link_to 'Sign In', new_user_session_path %>
          <%= link_to "Sign in with Linkedin", user_linkedin_omniauth_authorize_path %>
        <% end %> -->

    <!-- </div> -->

<!-- </nav> -->
<!-- ===============above: ROOTS & LINKS (SIGN UP, LOGOUT, etc....)========================== -->


    <%= yield %>


  </body>
</html>
